html, body, input, button {
    max-width: 100vw;
    font-size: 2.2vw;
} 
@media (height < 50vw) {
    html, body, input, button {
        max-width: 200vh;
        font-size: 4.4vh;
    } 
}
html, body {
    /* Lose scroll bars */
    overflow-x: hidden;
    overflow-y: hidden;
}
body, input, button {
    line-height: 1.1;
    font-family: sans-serif;
}
.dial {
    /* container for each side */
    width: 50%;
    position: relative;
}
.lp, button {
    /* container to position label */
    display: inline-block;
    position: absolute;
}
.l2, .lr, .current {
    /* 2 line label centred on top left of container */
    position: relative;
    left: -50%;
    margin-top: -2.9ex;
    text-align: center;
    padding: 0.4em;
    border-radius: 30%;
}
.compass {
    /* for SVG compass roses */
    width: 75%;
    height: 75%;
    padding-top: 15.5%;
    padding-left: 12%;
}
.lr {
    /* centre labels for each side */
    background-color: white;
    font-weight: bold;
}
.upLabel {
    position: relative;
    top: -1ex;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 120%;
}
button {
    padding: 0.5em;
    margin: 0.5em 0.7em;
    z-index: 1;
}
.current {
    color: white;
    background-color: red;
    font-weight: bold;
}
body {
    /* centre body in viewport */
    position: relative;
    margin: 0;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%)
}